/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 시작 */

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
#navbar {
    border: 1px solid black;
    height: 42px;
}
#navbar_wrap {
    padding: 13px;
    background-color: #560C7B;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
#header {
    border: 1px solid black;
}
#header-member {
    border: 1px solid red;
    width: 181.15px;
    height: 35px;
    margin: 0 auto;
    color: black;
    text-align: right;
    position: 1000px;
    display: flex;
}
#header-member span {
    margin: 0 auto;
}
#header-member img {
    width: 8px;
    height: 5px;
}
#cust-center {
    border: 1px solid lightgray;
    flex-direction: column;
    width: 120px;
    display: none;
    float: right;
}
#cust-center div {
    margin: 7px;
    font-size: 13px;
}
#header-search {    
    border: 1px solid red;
    padding: 36px 0px 0px;
    width: 1050px;
    height: 63px;
    margin: 0 auto;
}
#header-search span {
    flex-direction: row;
}
#header-search_logo span {
    flex-direction: row;
    padding: 10px;
    vertical-align: center;
}
#marketCurly {
    color: #560C7B;
}
#beautyCurly {
    color: rgb(181, 181, 181);
}
#header-search_box span {
    flex-direction: row;
}
#header-search input {
    width:400px;
    height:48px;
    font-size:20px;
    border-radius: 10px;
    outline: none;
    position: relative;
}
#header-search button {
    size : 30px;
    background-color: transparent;
    border: none;
    position: absolute;
}
#header-icons span {
    flex-direction: row;
}
#header-icons {
    border: 1px solid red;
    width: 148px;
    height: 36px;
}
#header-icons a {
    width: 36px;
}
#header-categori {
    border: 1px solid red;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
}
#header-categori button {
    border-radius: 10px;
}
#main1 {
    border: 1px solid black;
}
.event-slide-container {
    width: 300vw;
}
.slide-box img {
    width: 100vw;
}
#main2 {
    border: 1px solid black;
    align-items: center;
}
.sug-slide-container {
    padding: 40px 40px;
    margin: 38.50px 38.50px;
}
.slide-box2 img {
    align-items: center;
    width: 300px;
}
#main3 {
    border: 1px solid black;
}
.advertisement {
    display: flex;
}
.advertisement img {
    width: 1050px;
    height: 140px;
    margin: 0 auto;
}
#main4 {
    border: 1px solid black;
}
.recommendation {
    list-style-type: none;
}
#main5 {
    border: 1px solid black;
}
#main6 {
    border: 1px solid black;
}
#main7 {
    border: 1px solid black;
}